:root {

	--midnight-dark1: #072435;
	--midnight-dark2: #000A11;
    --midnight100: #172153;
	--aqua1: #19A3AD;
	--aqua2: #005b69;
	--tangerine: #FC684F;
	--lemongrass: #C4FF47;
	--lemongrass100: #c5e83a;
	--chicky: #FFE141;
	--lapisdark: #3835c1;

}

* {

	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;

}

body {

	font-family: Inter;

}

p {

	font-family: Inter;

}

.aqua1 {

	color: var(--aqua1) !important;

}

.aqua2 {

	color: var(--aqua2) !important;

}

.midnight-dark2 {

	color: var(--midnight-dark2) !important;

}

.tangerine_bg {

	background: var(--tangerine) !important;

}

.chicky-bg {

	background: var(--chicky) !important;

}

.lemongrass {

	color: var(--lemongrass) !important;

}

.screenshots_bg {

	background: var(--lemongrass100);

}

.slanted_1 {

	background-image: url('assets/img/section2_bg.png');
	background-repeat: repeat;
	position: relative;
	overflow: visible;
	z-index: 1;
	padding: 100px 0;

}

.slanted_1:before,
.slanted_1:after {

	content: '';
	width: 100%;
	height: 100%;
	position: absolute;
	background: inherit;
	z-index: -1;
	top: 0;
	transform-origin: left top;
	transform: skewY(-3deg);

}

.slanted_2 {

	background-repeat: repeat;
	position: relative;
	overflow: visible;
	z-index: 1;
	padding: 100px 0;

}

.slanted_2:before,
.slanted_2:after {

	content: '';
	width: 100%;
	height: 100%;
	position: absolute;
	background: inherit;
	z-index: -1;
	top: 0;
	transform-origin: left top;
	transform: skewY(4deg);

}

.slanted_2:after {

	bottom: 0;
	transform-origin: right bottom;
	transform: skewY(4deg);

}

.slanted_3 {

	background-repeat: repeat;
	position: relative;
	overflow: visible;
	z-index: 1;
	padding: 100px 0;

}

.slanted_3:after {

	content: '';
	width: 100%;
	height: 100%;
	position: absolute;
	background: inherit;
	z-index: -1;
	top: 0;
	transform-origin: bottom left;
	transform: skewY(-2deg);

}

.btn-large {
	/* site/button/big/primary */
	justify-content: center;
	align-items: center;
	padding: 16px 24px;

	/* midnight/dark2 */
	background: var(--midnight-dark2);
	border-radius: 50px;
	font-family: 'Inter', sans-serif;
	font-weight: 700;
	font-size: 24px;
	line-height: 24px;

	/* identical to box height */
	color: #FFFFFF;
	text-transform: uppercase;

}

.container-snap-parent {
	/* position: relative */
	/* height: 100vh */
	/* overflow: auto */
	scroll-snap-type: y proximity;

}

.container-snap {

	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 95vh;
	scroll-snap-align: start;

}

.fullheight {

	min-height: 90vh;

}

.footer {
	/* footer */
	/* midnight/dark1 */
	background: var(--midnight-dark1);

}

h1 {

	font-family: 'Inter', sans-serif;
	font-size: 4em;
	letter-spacing: 0.02em;
	color: #ffffff;
	font-weight: 900;
	z-index: 1000;

}

h2 {

	font-family: Lora;
	font-size: 4em;
	letter-spacing: 0.02em;
	color: #072435;
	line-height: 90%;

}

h3 {

	font-family: 'Inter', sans-serif;
	font-size: 1.5em;
	color: var(--aqua2) !important;
	font-weight: 800;

	/* text-shadow: 0 0 10px #13a1b7; */

}

h4 {

	font-family: Lora;
	font-size: 2em;
	letter-spacing: 0.02em;
	color: #072435;
	line-height: 90%;

}

h5 {

	font-family: Lora;
	font-size: 1.5em;
	letter-spacing: 0.02em;
	color: #072435;
	line-height: 90%;

}

.divider {

	height: 3px;

}

.instagram-text {

	line-height: 1.3em;
	padding-top: 15px;
	color: var(--midnight-dark2);

}

.instagram {

	max-width: 480px;
	margin-bottom: 100px;
	margin-top: 100px;

}

.instagram-hashtag {

	color: #4F4DBE;

}

.input-field {

	margin-top: 0.1rem;
	margin-bottom: 0.3rem;

}

.form_submit {

	width: 50%;

}

.card-title {

	font-family: Inter;
	font-size: 1.2rem !important;
	font-weight: 700 !important;

}

.insta-profile-image {

	border: 1px solid #bdbdbd;
	vertical-align: top;

}

.card-action {

	display: flex;
	justify-content: space-between;

}

.card-action {

	background-color: inherit;
	border-bottom: 1px solid rgba(160, 160, 160, 0.2);
	border-top: 0px !important;
	vertical-align: top !important;

}

.bolded {

	font-weight: 700;
	text-transform: uppercase;
	text-align: center;

}

@media (min-width:480px) {
	.equal-height-card {

		height: 350px;

	}
}

.p1-key-body {

	font-family: Inter;
	font-style: normal;
	font-weight: normal;
	font-size: 24px;
	line-height: 160%;

	/* midnight/dark2 */
	color: #000A11;

}

@media (max-width:480px) {
	.p1-key-body {

		font-size: 20px;
		line-height: 160%;
		margin-top: 10px;

	}
}

.p-body-20 {

	font-size: 20px;

}

.section {

	position: relative;

}

.header {

	background-repeat: repeat ;
	background-position: left top;
	position: relative;

	/* background: #3dcad3 */

}

.header-logo {

	top: -70px;
	left: -15px;
	position: relative;
	height: 300px !important;

}

@media (max-width:480px) {
	.header-logo {

		height: 180px !important;
		top: -70px;
		left: 0px;

	}
}

.header-bottom-right {

	float: right;

}

.header-characters {

	margin-top: -150px ;
	width: 60%;
	float: right;

}

.header-container {

	margin-bottom: -50px !important;
	z-index: 10;
	position: relative;

}

@media (max-width:550px) {
	.header-bottom-right {

		position: static;

	}

	.header-characters {

		margin-top: -100px !important;
		margin-bottom: -50px !important;

		/* float: right */
		width: 100% !important;

	}

	.header-container {

		margin-bottom: 100px !important;

	}
}

.card-content {

	padding-bottom: 16px !important;

}

.indicator-item {

	background-color: rgba(0,0,0,0.8) !important;

}

.indicator-item.active {

	background-color: rgba(255,255,255,0.5) !important;

}

.countdown {

	position: absolute;
	right: 0px;
	top: 20px;
	writing-mode: vertical-rl;
	text-orientation: mixed;
	color: white;

}

.team-text {

	line-height: 1.3em;
	padding-top: 15px;
	color: var(--midnight-dark2);

}

.team-text a {

	color: var(--midnight-dark1);
	text-decoration: underline  grey;

}

.team-text b {

	font-weight: bold;
	color: var(--aqua1);

}

.white-border {

	height: 100vh;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: -1000;
	border-style: solid;
	border-color: white;
	border-bottom: 10px solid white;

}

.social-media-icons {

	height: 36px;
	left: 48px;
	position: absolute;
	bottom: 20px;
	display: flex;
	flex-direction: row;
	align-items: flex-end;
	pointer-events: all;

}

.scroll-snap-container {

	scroll-snap-type: y proximity;

}

.scroll-snap-child {

	scroll-snap-align: start;

}

body {
	/* overflow-x: hidden !important; */
	font-family: Inter !important;

}

h1,
h2 {

	font-weight: 400;
	max-width: none;

}

.comparisonSection {

	position: relative;
	padding-bottom: 56.25%;

	/* to maintain aspect ratio (responsive!) */

}

.comparisonImage {

	width: 100%;
	height: 100%;

}

.afterImage {

	position: absolute;
	overflow: hidden;
	top: 0;
	transform: translate(100%, 0px);

}

.afterImage img {

	transform: translate(-100%, 0px);

}

.comparisonImage img {

	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;

}

.card-text {

	font-size: 14px;

}

.header_circle {

	background: rgba(197, 232, 58, 0.76);
	width: 500px;
	height: 500px;
	border-radius: 300px;

}

.nav-item {

	font-family: 'Inter', sans-serif;
	text-transform: uppercase;
	font-weight: 900;
	color: #ffffff !important;
	margin-left: 20px;

}

.nav-link a {

	color: #ffffff;

}

.nav-link:hover {

	color: var(--lemongrass100) !important;

}

h2 {

	font-weight: 900;

	/* font-family: Inter; */
	color: #ffffff;
	text-align: center;

}

.yellowshadow {

	text-shadow: 0 0 10px rgba(197, 232, 58, 0.5);

}

.quotetext {

	font-family: 'Lora', serif;
	font-size: 2.5rem;
	letter-spacing: -2px;
	font-weight: 500;
	text-align: center;
	color: #ffffff;

}

.scroll-snap-container {

	scroll-snap-type: y proximity;

}

.scroll-snap-child {

	scroll-snap-align: start;

}

.scroll-snap-container {

	scroll-snap-type: y proximity;

}

.navbar_button {

	font-family: 'Inter', sans-serif;
	text-transform: uppercase;
	font-weight: 900;
	color: #ffffff;
	background-color: var(--aqua2) !important;
	border-radius: 20px;
	border: 0px solid;

}

.nav-link {

	color: #ffffff;

}

.navbar_button:hover {

	color: var(--aqua2) !important;
	background: var(--lemongrass100) !important;

}

.header_button {

	color: var(--aqua2) !important;
	background-color: #ffffff;

}

.header_button:hover {

	background: var(--aqua2) !important;
	color: var(--lemongrass100) !important;
	box-shadow: 0px 0px 5px 5px rgba(0, 91, 105, 0.62);

}

.header_h1 {

	font-weight: 900;
	font-size: 200px;

}

@media (max-width:991px) {
	.header_h1 {

		font-size: 5rem;

	}
}

h5 {

	font-size: 2rem;
	font-family: 'Inter', sans-serif;
	font-weight: 700;
	padding-top: 15px;
	padding-bottom: 15px;

}

.facil_images {

	border-radius: 10px;
	box-shadow: 3px 3px 5px 2px rgba(0, 0, 0, 0.2);

}

.scrollcontainer {

	width: 600%;
	display: flex;
	flex-wrap: nowrap;

}

.scrollpanel {

	height: 100vh;
	width: 100vw;
	border-right: 10px solid white;
	border-bottom: 10px solid white;

}

.large_nadia {

	background: linear-gradient(0deg, rgba(108,112,221,0.8) 0%, rgba(56,53,193,1) 100%);

}

.large_aman {
	/* background: rgb(255,225,65); */
	background: linear-gradient(0deg, rgba(255,225,65,0.8) 0%, rgba(255,187,11,1) 100%);

}

.large_zhihao {

	background: linear-gradient(0deg, rgba(95,93,197,1) 0%, rgba(23,33,83,1) 100%);

}

.large_ravi {
	/* background: rgb(197,232,58); */
	background: linear-gradient(0deg, rgba(197,232,58,1) 0%, rgba(107,139,19,1) 100%);

}

.large_unaisah {
	/* background: rgb(255,221,95); */
	background: linear-gradient(0deg, rgba(255,221,95,1) 0%, rgba(224,98,19,1) 100%);

}

.large_marie {
	/* background: rgb(34,193,195); */
	background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);

}

.large_side_characters {

	max-height: 70vh;

}

.large_main_character {

	max-height: 70vh;

}

.large_character_storyline {

	margin-top: -12px;

}

.large_screenshots {

	position: relative;
	max-height: 50vh;
	border-radius: 10px;

}